@import "tailwindcss";

@theme{
  --color-main-green: #05df72;
}

@layer utilities {
  .no-spin::-webkit-outer-spin-button,
  .no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spin {
    -moz-appearance: textfield;
  }
}

/* Chrome */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes shine {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-shine {
  animation: shine 3s linear infinite alternate;
  background-size: 200% auto;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.green-shine-animation {
  @apply font-bold bg-clip-text text-transparent bg-linear-to-r from-emerald-500 via-emerald-200 to-green-500;

  background-size: 300% auto;
  animation: shine 3s linear infinite alternate;
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}